<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--/*@thymesVar id="departure" type="java.lang.String"*/-->
<h1>Abfahrten von <span data-th-text="${departure}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Linie</th>
        <th>Ziel</th>
        <th>Kante / Perron</th>
        <th>Abfahrt</th>
        <th>Hinweis</th>
    </tr>
    </thead>
    <!--/*@thymesVar id="nextDepartures" type="java.util.List"*/-->
    <!--/*@thymesVar id="schedule" type="ch.bernmobil.vibe.dataaccesslayer.gtfs.staticdata.entity.Schedule"*/-->
    <tr data-th-each="schedule : ${nextDepartures}" class="row">
        <td data-th-text="${schedule.getJourney().getRoute().getLine()}"></td>
        <td><span data-th-text="${schedule.getJourney().getHeadsign()}"></span></td>
        <td>
            <span data-th-if="${schedule.hasPlatform()}" data-th-text="${schedule.getPlatform()}"></span>
        </td>
        <td><span data-th-text="${schedule.getPlannedDeparture()}"></span></td>
        <td>
            <span data-th-if="${!schedule.hasScheduleUpdate()}">OK</span>
            <span data-th-if="${schedule.hasScheduleUpdate()}" data-th-text="${schedule.getScheduleUpdate().getActualDeparture()}"></span>
        </td>
    </tr>
</table>
</body>
</html>