<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Abfahrten von <span data-th-text="${departure}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Linie</th>
        <th>Ziel</th>
        <th>Kante / Perron</th>
        <th>Abfahrt</th>
        <th>Hinweis</th>
    </tr>
    </thead>
    <tr data-th-each="schedule : ${nextDepartures}">
        <td><span>S?</span></td>
        <td><span data-th-text="${schedule.getJourney().getHeadsign()}"></span></td>
        <td><span>Kante</span></td>
        <td><span data-th-text="${schedule.getPlanned_departure()}"></span></td>
        <td><span data-th-text="${schedule.getScheduleUpdate() == null ? 'ok' : schedule.getScheduleUpdate().getActual_departure()}"></span></td>
        <td><span></span></td>
        <td></td>
    </tr>
</table>
<table>
    <thead>
    <tr>
        <th>Abfahrtszeit</th>
        <th>Richtung</th>
    </tr>
    </thead>
    <tr data-th-each="timeTableEntry : ${timeTableEntries}">
        <td data-th-text="${timeTableEntry.getDepartureStop().getStopName()}">...</td>
        <td data-th-text="${timeTableEntry.getTrip().getTripHeadsign()}">...</td>
        <td data-th-text="${timeTableEntry.getDepartureStopTime().getDepartureTime()}">...</td>
    </tr>
</table>
</body>
</html>